@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-exo-2);
  --font-tech: var(--font-share-tech-mono);
  --font-heading: var(--font-audiowide);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes slide-pan {
  0% { transform: scale(1.15) translateX(-3%) translateY(-1%); }
  100% { transform: scale(1.15) translateX(3%) translateY(1%); }
}
